@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);


/******************
 kunoichi.css must also be coupled with ninjutsu.css to be effective
 See https://emitanaka.github.io/ninja-theme/kunoichi-theme-example.html for an example.
******************/


:root {
    --main-color1: #1A5354;
    --main-color2: #FF95A8;
    --main-color3: #C71000;
    --main-color4: #008EA0;
    --main-color5: white;
    --main-color6: #ADE2D0;
    --main-color7: #8A4198;
    --main-color8: #FF6348;
    --main-color9: #A9E184;
    --main-color10: #3F404F;
    --text-color1: white;
    --text-color2: white;
    --text-color3: white;
    --text-color4: white;
    --text-color5: black;
    --text-color6: black;
    --text-color7: white;
    --text-color8: white;
    --text-color9: black;
    --text-color10: white;
    --text-opacity: white;
    --link-color: #ecadec;
    --alert-color: #CF3C18;
    --text-alert: white;
    --code-background: rgba(052, 152, 204, 0.4);
    --code-inline-color: #3498CC;
    --code-text-color: black;
    --code-highlight: rgba(052, 152, 204, 0.4);
    --color-opacity70: rgba(86,36,87,0.7);
    --color-opacity50: rgba(86,36,87,0.5);
    --color-opacity30: rgba(86,36,87,0.3);
    --title-background: #FFC300;
}

.title-slide {
  width: 60%;
  text-align: left!important;
  height:100%;
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-opacity70);
  color: white;
  padding: 0;
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 0.5em;
}

.remark-slide {
  background-color: var(--main-color4);
  background-image: var(--logo), var(--title-background);
  background-size:  10%, cover;
  background-position: left bottom, 100%;
  background-repeat: no-repeat;
}

.bg-code {
  color: var(--code-text-color);
  background-color: var(--code-background);
}


.title-slide h1 { padding-top: 20%; font-size: 4em;}
.title-slide h1, .title-slide h2, .title-slide h3  {
  padding-left: 4%!important;
  padding-right: 4%!important;
}

.title-slide .remark-slide-number { display: none; }

.bg-main1 { background-color: var(--main-color1); color: var(--text-color1);}
.bg-main2 { background-color: var(--main-color2); color: var(--text-color2);}
.bg-main3 { background-color: var(--main-color3); color: var(--text-color3);}
.bg-main4 { background-color: var(--main-color4); color: var(--text-color4);}
.bg-main5 { background-color: var(--main-color5); color: var(--text-color5);}
.bg-main6 { background-color: var(--main-color6); color: var(--text-color6);}
.bg-main7 { background-color: var(--main-color7); color: var(--text-color7);}
.bg-main8 { background-color: var(--main-color8); color: var(--text-color8);}
.bg-main9 { background-color: var(--main-color9); color: var(--text-color9);}
.bg-main10 { background-color: var(--main-color10); color: var(--text-color10);}

.bgcolor_alert { background-color: var(--alert-color)!important; color: var(--text-alert); }

.color-main1 { color: var(--main-color1);}
.color-main2 { color: var(--main-color2);}
.color-main3 { color: var(--main-color3);}
.color-main4 { color: var(--main-color4);}
.color-main5 { color: var(--main-color5);}
.color-main6 { color: var(--main-color6);}
.color-main7 { color: var(--main-color7);}
.color-main8 { color: var(--main-color8);}
.color-main9 { color: var(--main-color9);}

.color-alert { color: var(--alert-color);}

.shade_main  {
    background-color: var(--color-opacity70);
    color: var(--text-opacity);
    width: 100%;
    padding: 0;
}

.remark-visible .remark-slide-scaler {overflow-y: auto;}
.remark-code {
  font-size: 20px;
  line-height: 1.25;
  color:#3498CC;
}

.remark-inline-code { 
  color: #3498CC;
}

.remark-code-line-highlighted { 
  background-color: rgba(052, 152, 204, 0.4); 
}


pre {
  color: var(--code-text-color);
  background-color: var(--code-background);
  line-height: 1.5;
  padding: 5px;
}

h1, h2, h3, h4 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 5px;
}
h1 { font-size: 3.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1em; }

body{
  font-size: 1em;
}

a { color: var(--link-color); text-decoration: none; }